//Quattrocento Sans
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@400;700&display=swap');

//Pacifico
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

//Museo
@font-face {
    font-family: 'Museo 300';
    src: url('assets/font/museo/Museo-300.eot');
    src: url('assets/font/museo/Museo-300.eot?#iefix') format('embedded-opentype'),
        url('assets/font/museo/Museo-300.woff2') format('woff2'),
        url('assets/font/museo/Museo-300.woff') format('woff'),
        url('assets/font/museo/Museo-300.ttf') format('truetype'),
        url('assets/font/museo/Museo-300.svg#Museo-300') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo 700';
    src: url('assets/font/museo/Museo-700.eot');
    src: url('assets/font/museo/Museo-700.eot?#iefix') format('embedded-opentype'),
        url('assets/font/museo/Museo-700.woff2') format('woff2'),
        url('assets/font/museo/Museo-700.woff') format('woff'),
        url('assets/font/museo/Museo-700.ttf') format('truetype'),
        url('assets/font/museo/Museo-700.svg#Museo-700') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Museo 500';
    src: url('assets/font/museo/Museo-500.eot');
    src: url('assets/font/museo/Museo-500.eot?#iefix') format('embedded-opentype'),
        url('assets/font/museo/Museo-500.woff2') format('woff2'),
        url('assets/font/museo/Museo-500.woff') format('woff'),
        url('assets/font/museo/Museo-500.ttf') format('truetype'),
        url('assets/font/museo/Museo-500.svg#Museo-500') format('svg');
    font-weight: 500;
    font-style: normal;
}


