//VARIÃVEIS
    //Cores
    $dourado: #C7A37B;
    $vermelho: #45182F;
    $vermelho2: #732448;

    //Tamanhos de tela
    $XSmax: 575px;
    $SMmin: 576px;
    $SMmax: 767px;
    $MDmin: 768px;
    $MDmax: 991px;
    $LGmin: 992px;
    $LGmax: 1200px;
    $XLmin: 1201px;

//MIXINS
    //Mobile
    @mixin mobile($minHeight: false, $maxHeight: false) {
        @if $minHeight == false and $maxHeight == false {
            @content;
        } @else {
            @if $maxHeight == false {
                @media only screen and (min-width : $minHeight) {
                    @content;
                }
            } @else {
                @if $minHeight == false {
                    @media only screen and (max-width : $maxHeight) {
                        @content;
                    }
                } @else {
                    @media only screen and (min-width : $minHeight) and (max-width : $maxHeight) {
                        @content;
                    }
                }
            }
        }
    }

    //Placeholder
    @mixin placeholder() {
         $selector: '';
         $prefixes: (
              moz: "::-moz",
              webkit: "::-webkit",
              ie: ":-ms"
         );
         @each $prop, $value in $prefixes {
              @if $prop != "moz" {
                   $selector: #{$value}-input-placeholder;
              } @else {
                   $selector: #{$value}-placeholder;
              }
              @if & {
                   &#{$selector} {
                        @content;
                   }
              } @else {
                   #{$selector} {
                        @content;
                   }
              }
         }
         &::placeholder {
              @content;
         }
    }