a,
a:hover,
a:visited,
a:active,
a:focus {
	color: inherit;
	text-decoration: inherit;
	outline: none;
}
input,
button,
select {
	outline: none;
	&:hover,
	&:focus {
		outline: none;
	}
}
img {
	max-width: 100%;
	height: auto;
	outline: none !important;
	user-select: none !important;
	&:focus {
		outline: none !important;
		user-select: none !important;
	}
}
.desktop,
.Desktop {
	@include mobile(false, $MDmax) {
		display: none !important;
	}
}

.mobile,
.Mobile {
	@include mobile($LGmin) {
		display: none !important;
	}
}

//Geral
.onda {
	position: absolute;
	width: 100%;
	max-height: 75px;
	bottom: 0px;
	left: 0px;
	z-index: 1040;
	@include mobile(false, $MDmax) {
		z-index: 1000;
		max-height: 35px;
	}
	&.topo {
		top: 0px;
		bottom: inherit;
	}
}

.grad {
	position: absolute;
	width: 100%;
	bottom: 0px;
	height: 200px;
	&.topo {
		top: 0px;
		bottom: inherit;
	}
}

.enfeite {
	position: absolute;
	width: 100%;
	bottom: 0px;
	&.topo {
		top: 0px;
		bottom: inherit;
	}
}

.margin50 {
	margin-bottom: 50px;
}


form.everyForm {
	input {
		font-family: 'Museo 300' !important;
		display: block !important;
		font-size: 14px !important;
		border-radius: 50px !important;
		width: 100% !important;
		border: none !important;
		padding: 10px 20px !important;
		color: #000 !important;
		-webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.2) !important;
		-moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.2) !important;
		box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.2) !important;
		@include placeholder() {
			color: $vermelho !important;
		}
		&:not(:last-child) {
			margin-bottom: 20px !important;
		}
	}
	input[type=submit],
	button[type=submit] {
		outline: none !important;
		border: none  !important;
		border-radius: 50px !important;
		background-color: $vermelho !important;
		color: $dourado !important;
		width: auto !important;
		font-size: 12px !important;
		padding: 5px 10px !important;
		margin: auto 0px auto auto !important;
		-webkit-transition: 0.4s !important;
		-moz-transition: 0.4s !important;
		-ms-transition: 0.4s !important;
		-o-transition: 0.4s !important;
		transition: 0.4s !important;
		&:hover {
			background-color: $dourado !important;
			color: $vermelho !important;
		}
	}
}

.bookly {
	color: $vermelho2;
	.powered-by-bookly {
		display: none;
	}
	div {
		&.step {
			border-radius: 0px !important;
			background-color: rgba(115, 37, 72, 0.3)
		}
	}
	.bookly-box.bookly-bold {
		font-size: 18px;
		line-height: 1em;
		margin-bottom: 50px;
		font-weight: 400 !important;
		margin: 30px 0px 50px 0px;
		display: block;
	}
	select,
	.bookly-date-from {
		width: 100%;
		border-radius: 0px !important;
		-webkit-appearance: none;
		background-color: rgba(115, 36, 72, 0.3)!important;
		color: $vermelho2;
		padding: 5px 10px;
	}
	.mobile-step-2 {
		.bookly-box {
			width: 50%;
		}
	}
	.bookly-nav-steps {
		border: none !important;
	}
	.bookly-next-step {
		border-radius: 50px !important;
		background-color: #D3B488 !important;
		color: $vermelho !important;
		font-size: 14px !important;
	}
	span {
		margin: 0px !important;
	}
}

.share {
	margin-top: 50px;
	a {
		display: inline-block !important;
	}
	h4 {
		display: inline-block;
		font-size: 22px;
		margin-bottom: 0px;
		font-family: 'Museo 300';
		color: $vermelho2;
		@include mobile(false, $MDmax) {
			display: block;
			width: 100%;
			margin-bottom: 20px !important;
		}
		strong {
			font-family: 'Museo 700';
			display: block;
		}
	}
	.palheta {
		width: 50px;
		display: inline-block;
		vertical-align: -5px;
		margin-left: 10px;
	}
}

.modal-backdrop {
	background-color: #45182F;
	&.show {
		opacity: 0.9;
	}
}

.bookly {
	input,
	select {
		font-size: 14px;
		border-radius: 50px;
		border: none;
		color: #732448;
		padding: 5px 15px;
		width: 100%;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
	select {
		background-color: #FFF !important;
		border-radius: 50px !important;
		color: rgb(117, 117, 117);
		&.valor {
			color: #732448;
		}
	}
	button {
		font-size: 12px;
		display: block;
		margin: auto 0px auto auto;
		background-color: #B99573;
		color: #44182F;
		border-radius: 50px;
		border: none;
	}
}


.modalagendamento.modal {
    .modal-content {
        background-color: rgba(0,0,0,0);
        border: none;
        position: relative;
        .button {
            position: absolute;
            right: 10px;
            top: 10px;
            max-width: 20px;
            opacity: 0.75;
            &:hover {
                opacity: 1;
            }
        }
    }
}

.mauticform-errormsg,
.mauticform-message {
	display: block;
	text-align: center;
	margin-bottom: 20px;
	margin-top: -15px;
	color: #732448;
	font-size: 12px;
	font-weight: 700;
}